.container {
    height: 100%;
    background-image:url('../images/backgrounds/space.png');; /* Correct relative path */
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white; /* Adjust text color for better visibility */
   
}




#startButton {
    padding: 10px 20px;
    font-size: 60px;
    cursor: pointer;
    font-family:"Pixelify Sans";
    color: #CA1D1D ;
    background-color: #808080;
}
